<!DOCTYPE html>
<html>
    <head>
        <title>Home | Betflix</title>
        <link rel="stylesheet" href="/all.css">
        <link rel="stylesheet" href="/font.css">
        <link rel="stylesheet" href="/scrollbar.css">
        <link rel="stylesheet" href="/views/home/style.css">
        <link rel="stylesheet" href="/partials/menu/style.css">
        <link rel="stylesheet" href="/partials/media-content/style.css">
    </head>
    <body>
        <%- include('../partials/menu', {user}) %>
        <% for(const genre in media){ %>
            <%- include('../partials/media-content', {title: genre, data: media[genre].data, forceShow: false}) %>
        <% } %>
            
    </body>

    <!-- Import Jquery -->
    <script src="/lib/jquery.min.js"></script>
    
    <script src="/views/home/script.js"></script>
    <script src="/partials/media-content/script.js"></script>

</html>