<!DOCTYPE html>
<html>
    <head>
        <title>Search | Betflix</title>
        <link rel="stylesheet" href="/all.css">
        <link rel="stylesheet" href="/font.css">
        <link rel="stylesheet" href="/scrollbar.css">
        <link rel="stylesheet" href="/views/search/style.css">
        <link rel="stylesheet" href="/partials/menu/style.css">
        <link rel="stylesheet" href="/partials/media-content/style.css">
    </head>
    <body>
        <%- include('../partials/menu', {user}) %>
        <input type="text" id="text-input" placeholder="Search by title" oninput="searchTimeout.set()">
        <%- include('../partials/media-content', {title: '', data: [], forceShow: true}) %>  
    </body>
    <script src="/lib/jquery.min.js"></script>
    <script src="/views/search/script.js"></script>
    <script src="/partials/media-content/script.js"></script>
</html>