#item{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: black;
}


/* BACKDROP */
#item #backdrop{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#item #backdrop #main{
    width: 100%; 
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    display: flex; 
    flex-direction: column;
}
#item #backdrop #main img{
    width: 120%; /* animate to 100% on load */
    height: auto;
    margin-left: -10%;
    background-position: center;
    background-repeat: no-repeat;
    
}
#item #backdrop #dim{
    margin-top: -130px;
    height: 130px;
    width: 100%;
    background: linear-gradient(0deg, black, transparent);
    color: white;
}
#item #backdrop #blur{
    margin-top: -100vh;
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, rgb(22, 22, 22) 20%, rgba(22, 22, 22, 0.1) 60%);
}



/* INFO */
#item #info{
    margin-top: -100vh;
    width: calc(100% - (var(--browseMarginWidth) * 2));
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 130px;
    z-index: 1;
    opacity: 0;
}
#item #info #logo{
    height: 120px;
    width: 390px;
    max-width: 100%;
    background-position: left 70%;
    background-repeat: no-repeat;
    background-size: contain;

    margin-bottom: 20px;
}
#item #info #title{
    color: white;
    font-size: 14px;
}
#item #info #data{
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: fit-content;
    width: 100%;

    color: white;
    font-size: 12px;
    font-weight: bolder;
}
#item #info #data #rating, #item #info #data #vote{
    height: 22px;
    width: fit-content;
    padding: 0 8px 0 8px;
    margin-right: 5px;
    background-color: rgba(81, 81, 81, 0.741);
    /* border: 1px solid rgba(255, 255, 255, 0.393); */
    border-radius: 5px;

    color: rgb(255, 255, 255);
    font-weight: normal;
    font-size: 11px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#item #info #data #vote{
    margin-right: 10px;
}
#item #info #data #year, #item #info #data #duration{
    color: white;
    font-size: 13px;
}
#item #info #data #duration{font-weight: normal}
#item #info #data .dividor{
    height: 4px;
    width: 4px;
    margin: 0 5px 0 5px;
    border-radius: 50%;
    background-color: white;
}
#item #info #genres{
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: fit-content;
    width: 100%;

    color: rgb(224, 224, 224);
    font-size: 12px;
}
#item #info #buttonLane{
    margin-top: 10px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
#item #info .buttonWide{
    background-color: var(--buttonColor);
    backdrop-filter: blur(5px);
    height: 40px;
    width: 120px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;

    color: white;
    font-size: 15px;
    font-weight: normal;
}
#item #info .buttonSmall{
    background-color: var(--buttonColor);
    backdrop-filter: blur(5px);
    height: 40px;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px 0 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#item #info .buttonCircle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--buttonColor);
    backdrop-filter: blur(5px);
    cursor: pointer;
    margin: 0 5px 0 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
#item #info .buttonWide .img{
    height: 14px;
    width: 14px;
    margin: 0 5px 0 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#item #info .buttonSmall .img{
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#item #info #overview{
    min-height: 90px;
    height: fit-content;
    margin-top: 10px;
    width: 100%;
    max-width: 450px;
    min-width: 200px;
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}
#item #info #overview:hover{
    opacity: 0.8;
}

/* TABS */
#item #info #tabBar, #item #info #seasonBar{
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    overflow: visible;
}
#item #info #seasonBar #dropDown{
    overflow-y: auto;
    max-height: 205px;
    height: fit-content;
    margin-top: 5px;
    width: fit-content;
    padding: 10px 20px 10px 20px;
    background-color: rgba(107, 107, 107, 0.477);
    backdrop-filter: blur(20px);
    border-radius: 5px;
    z-index: 200;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#item #info #seasonBar #dropDown .season{
    color: white;
    font-size: 16px;
    margin: 5px 0 5px 0;
    cursor: pointer;
}
#item #info #seasonBar #dropDown .season:hover{
    opacity: 0.8;
}


#item #info #seasonScroll{
    margin-top: 10px;
    height: 250px;
    /* background-color: aqua; */
    width: calc(100% + (var(--browseMarginWidth) * 2));
    margin-left: calc(var(--browseMarginWidth) * -1);
    margin-bottom: 20px;
    
    display: flex;
    justify-content: left;
    align-items: flex-start;
    overflow-x: auto;
}
#item #info #seasonScroll #content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#item #info #seasonScroll #content .insert{
    height: fit-content;
    width: var(--episodeWidth);
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.099);
    padding: 5px;
    cursor: pointer;
}
#item #info #seasonScroll #content .insert .still{
    width: 100%;
    height: calc(var(--episodeWidth) * (2 / 3.6));
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.256);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
#item #info #seasonScroll #content .insert .still .button{
    margin-bottom: 8px;
    background-image: url(../img/icons/info.png);
    height: 30px;
    width: 30px;
}
#item #info #seasonScroll #content .insert .still .progressFrame{
    height: 6px;
    background-color: rgba(81, 81, 81, 0.874);
    width: 100%;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: left;
    box-shadow: 0 0 40px 10px rgb(0, 0, 0);
}
#item #info #seasonScroll #content .insert .still .progress{
    height: 100%;
    background-color: white;
}
#item #info #seasonScroll #content .insert .title{
    color: white;
    font-size: 14px;
    text-align: left;
    max-width: 90%;
    width: fit-content;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 8px 0 4px 5px;
    font-weight: bolder;
}

#item #info #seasonScroll #content .insert .date{
    color: rgb(196, 196, 196);
    font-size: 12px;
    text-align: left;
    width: 90%;
    margin: 0 0 10px 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#item #info #tabBar .insert, #item #info #seasonBar .insert{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    
    min-width: 50px;
    color: white;
    font-size: 13px;
    margin-right: 10px;
    padding: 7px;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
}
#item #info #tabBar .insert:hover, #item #info #seasonBar .insert:hover{
    background: rgba(255, 255, 255, 0.3);
}
#item #info #cast::-webkit-scrollbar, #item #info #director::-webkit-scrollbar, #item #info #seasonScroll::-webkit-scrollbar{
    display: none;
}
#item #info #cast, #item #info #director{
    margin-top: 20px;
    height: 180px;
    width: calc(100% + (var(--browseMarginWidth) * 2));
    margin-left: calc(var(--browseMarginWidth) * -1);
    
    display: flex;
    justify-content: left;
    align-items: flex-start;
    overflow-x: auto;
}
#item #info #cast .insert, #item #info #director .insert{
    height: fit-content;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}
#item #info #cast .insert:hover, #item #info #director .insert:hover{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
#item #info #cast .insert .profile, #item #info #director .insert .profile{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: rgb(192, 192, 192);
    background-position: center 20%;
    background-repeat: no-repeat;
    background-size: cover;
}
#item #info #cast .insert .info, #item #info #director .insert .info{
    margin-top: 5px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
#item #info #cast .insert .info .actor, #item #info #cast .insert .info .character, #item #info #director .insert .info .actor, #item #info #director .insert .info .character{
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#item #info #cast .insert .info .actor, #item #info #director .insert .info .actor{
    font-size: 13px;
    color: white;   
}
#item #info #cast .insert .info .character, #item #info #director .insert .info .character{
    font-size: 11px;
    color: rgb(170, 170, 170);
}
#item #info .dividor, #item #info .dividor{
    height: 1px;
    width: 10px;
}
#item #info #details{
    margin-top: 20px;
    width: 100%;
    height: 180px;
    /* background-color: aqua; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#item #info #details .insertTitle, #item #info #details .insertData{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-left: 2px;
}
#item #info #details .insertTitle{
    margin-bottom: 2px;
    color: rgb(189, 189, 189);
    font-size: 11px;
}
#item #info #details .insertData{
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
}

#item #info #more{
    cursor:pointer; 
    color: rgb(150, 150, 150); 
    text-decoration: underline
}