:root{
    --theme: rgb(255, 0, 0);
    --backgroundColor: rgb(36, 36, 36);
    --topColor: rgb(0, 0, 0);
    --navHighlight: rgb(255, 255, 255);
    --navTextColor: rgb(189, 189, 189);
    --buttonColor: rgba(255, 255, 255, 0.312);
    --overviewColor: rgb(74, 74, 74);

    --browseMarginWidth: 56px;
    --continueMarginWidth: calc(var(--browseMarginWidth) - 5px);
    --episodeWidth: 300px;
    --itemScrollDividorWidth: 5px;
    
    --topHeight: 60px;
    --continueWatchingHeight: 220px;
    --itemInsertHeight: 235px;
    --continueWatchingHeight: 30vw;

    --itemInsertRadius: 8px;

    --itemDimHeightScroll: calc(100vh - var(--topHeight));
    --itemDimMarginScroll: calc((100vh - var(--topHeight)) * -1);

    --progressBarKnobSize: 20px;
    --progressBarKnobSizeSmall: 12px;
}
*{
    margin:0;
    padding:0;
    flex-shrink:0;
    flex-grow:0;
    font-family: sans-serif;
    user-select: none;
}
body{
    width: 100vw; height: 100vh;
    display: flex; flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.388);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.metadata{
    display: none;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
#browse{
    background: var(--backgroundColor);
    height: 100%;
    width: 100%;
}
#screen_blocker{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.618);
    z-index: 300000;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
}
#screen_blocker #overview{
    width: 50%;
    max-height: 70%;
    height: fit-content;
    overflow: auto;
    background-color: var(--overviewColor);
    padding: 3vw;
    font-size: 20px;
    color: rgb(217, 217, 217);
    border-radius: 10px;
}
#screen_blocker #exit{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    background-image: url(../img/icons/close.png);
    background-repeat: no-repeat;
}
#screen_blocker .top{
    font-size: 30px;
    margin-bottom: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#screen_blocker .top .title{
    width: calc(100% - 40px);
}
#screen_blocker #edit .top .title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#screen_blocker #edit{
    background-color: var(--overviewColor);
    height: 70%;
    width: 80%;
    padding: 3vw 3vw 1vw 3vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
}
#screen_blocker #edit #tabs{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 40px;
}
#screen_blocker #edit #tabs .insert{
    color: rgba(236, 236, 236, 0.989);
    cursor: pointer;
    margin-right: 15px;
    font-size: 16px;
}
#screen_blocker #edit #tabs .insert:hover{
    opacity: .8;
}
#screen_blocker #edit .content{
    max-height: calc(100% - 85px);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    overflow: auto;
}
#screen_blocker #edit .content .poster{
    height: 180px;
    width: 120px;
    background-color: rgba(119, 119, 119, 0.475);
    border-radius: 5px;
    margin: 0px 20px 20px 0;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#screen_blocker #edit .content .backdrop{
    height: 150px;
    width: 270px;
    background-color: rgba(119, 119, 119, 0.475);
    border-radius: 5px;
    margin: 0px 10px 10px 0;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
#screen_blocker #edit .content.logos .backdrop{background-size: contain;}
#screen_blocker #edit .content .poster .overlay, #screen_blocker #edit .content .backdrop .overlay{
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    background-color: rgba(0, 0, 0, 0.179);
    border: 4px solid white;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    border-radius: inherit;
}
#screen_blocker #edit .content .poster:hover .overlay, #screen_blocker #edit .content .backdrop:hover .overlay{display: flex;}
.browseMargin{
    height: 100%;
    width: var(--browseMarginWidth);
}
.browseMarginTop{
    width: 100%;
    height: var(--topHeight);
}
.sectionContainer{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
}
.sectionTitle{
    /* main */
    margin-top: 30px;
    margin-bottom: 5px;
    height: 35px;
    width: calc(100% - var(--browseMarginWidth) - 5px);
    padding-left: calc(var(--browseMarginWidth) + 3px);

    /* display */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    /* text */
    color: white;
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
}
.Nav{
    width: fit-content;
    height: 100%;
    margin-right: var(--browseMarginWidth);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Nav .left, .Nav .right{
    /* background-color: blueviolet; */
    height: 100%;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
.Nav .left {background-image: url(../img/icons/arrowLeft.png); margin-right: 20px; opacity: .2; cursor: default; pointer-events: none;}
.Nav .right{background-image: url(../img/icons/arrowRight.png);}
.Nav .left:hover, .Nav .right:hover{opacity: .8 !important;}

.itemScroll{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    overflow: auto;
    color: white;
    font-size: 15px;
}
.itemScroll::-webkit-scrollbar{
    display: none;
}
.itemScroll .dividor{
    height: 100%;
    width: var(--itemScrollDividorWidth);
}
.itemScroll .frame{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: calc(var(--itemInsertHeight) * .67);
    align-items: center;
}
.itemScroll .frame .box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--itemInsertHeight);
    width: calc(var(--itemInsertHeight) * .67);
}
.itemScroll .frame .itemInsert{
    background-color: rgb(132, 132, 132);
    margin: calc(var(--itemInsertHeight) * .015);
    height: 97%;
    width: 97%;
    
    border-radius: var(--itemInsertRadius);
    
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    cursor: pointer;

    /* ANIMATE USING JQUERY IN main.js ON HOVER */
    /* margin: 0;
    height: var(--itemInsertHeight);
    width: calc(var(--itemInsertHeight) * .7); */
}
.itemScroll .frame .itemInsert .overlay{
    width:  calc(100% - 6px);
    height: calc(100% - 6px);
    border: 3px solid rgba(255, 255, 255, 0.195);
    opacity: 0;

    border-radius: var(--itemInsertRadius);

    display: flex;
    justify-content: right;
    align-items: flex-end;
}
.itemScroll .frame .itemInsert .controls{
    width: 95%;
    height: 40px;
    /* background-color: blueviolet; */
    pointer-events: none;

    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;

    margin-bottom: 8px;
}
.button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 6px;
    pointer-events: all;

    background-color: rgba(140, 140, 140, 0.4);
    backdrop-filter: blur(5px);
    opacity: 0;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;

    z-index: 100;
}
.button:hover{
    background-color: rgba(140, 140, 140, 0.5);
}


.itemScroll .frame .info{
    margin-top: 8px;
    width: calc((var(--itemInsertHeight) * .67) * .95);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.itemScroll .frame .info .title{
    width: fit-content;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
    font-size: 13px;
    cursor: pointer;
}
.itemScroll .frame .info .title:hover{
    opacity: 0.9;
}
.itemScroll .frame .info .year{
    width: fit-content;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(160, 160, 160);
    font-size: 12px;
    margin-top: 4px;
    font-weight: bolder;
}