/* width */
div:hover::-webkit-scrollbar {
    display: block;
    width: .6rem;
    height: .6rem;
}

div::-webkit-scrollbar {
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(43, 43, 43);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(62, 62, 62);
}