<!DOCTYPE html>
<html>
    <head>
        <title>Create User | Betflix</title>
        <link rel="stylesheet" href="/css/all.css">
        <link rel="stylesheet" href="/css/font.css">
        <link rel="stylesheet" href="/css/create-user.css">
    </head>
    <body>
        <h1>Create New User</h1>
        <div id="error-message"></div>
        <input type="text" id="name-input" placeholder="username">
        <div id="images">
            <% for(const image of images){ %> 
                <div class="image" data-image="<%= image %>" style="background-image: url('<%= image %>');" onclick="selectImage($(this))"></div>
            <% } %> 
        </div>
        <div id="child-section">
            Child Account
            <input type="checkbox" id="child-checkbox">
        </div>
        <div id="buttons">
            <a href="/user">Cancel</a>
            <button onclick="create()">Create</button>
        </div>
    </body>
    <script src="/lib/jquery.min.js"></script>
    <script src="/js/create-user.js"></script>
    <script src="/js/menu.js"></script>
</html>