<!DOCTYPE html>
<html>
    <head>
        <title>Home | Betflix</title>
        <link rel="stylesheet" href="/css/all.css">
        <link rel="stylesheet" href="/css/font.css">
        <link rel="stylesheet" href="/css/menu.css">
        <link rel="stylesheet" href="/css/scrollbar.css">
        <link rel="stylesheet" href="/css/media-resume.css">
        <link rel="stylesheet" href="/css/media-content.css">
    </head>
    
    <!-- Import Jquery -->
    <script src="/lib/jquery.min.js"></script>

    <body>
        <%- include('./partials/menu', {user}) %>
        <%- include('partials/media-resume', {data: resume})  %>
        <% for(const [title, data] of Object.entries(media)){ %>
            <%- include('./partials/media-content', {title, data, forceShow: false}) %>
        <% } %>
            
    </body>
    
    <script src="/js/home.js"></script>
    <script src="/js/media-content.js"></script>
    <script src="/js/menu.js"></script>

</html>