<!DOCTYPE html>
<html>
    <head>
        <title>Search | Betflix</title>
        <link rel="stylesheet" href="/css/all.css">
        <link rel="stylesheet" href="/css/font.css">
        <link rel="stylesheet" href="/css/menu.css">
        <link rel="stylesheet" href="/css/search.css">
        <link rel="stylesheet" href="/css/scrollbar.css">
        <link rel="stylesheet" href="/css/media-content.css">
    </head>
    
    <body>
        <%- include('./partials/menu', {user}) %>
        <input type="text" id="text-input" placeholder="Search by title" oninput="searchTimeout.set()">
        
        <%- include('./partials/media-content', {title: '', data: [], forceShow: true}) %>  
    </body>

    <script src="/js/search.js"></script>
    <script src="/lib/jquery.min.js"></script>
    <script src="/js/media-content.js"></script>
    <script src="/js/menu.js"></script>
</html>