<!DOCTYPE html>
<html>
    <head>
        <title>Who's Watching | Betflix</title>
        <link rel="stylesheet" href="/css/all.css">
        <link rel="stylesheet" href="/css/font.css">
        <link rel="stylesheet" href="/css/select-user.css">
    </head>
    <body>
        <h1>Who's Watching?</h1>
        <div id="user-container">
            <% for(const user of data){ %>
                <div class="user">
                    <div data-id="<%= user.user_id %>" class="user-image" style="background-image: url('<%= user.user_image %>');"></div>
                    <div class="user-name"><%= user.user_name %></div>
                </div>
            <% } %> 

            <a class="user" href="/user/create">
                <div class="user-image" id="add"></div>
                <div class="user-name">Add User</div>
            </a>
            
        </div>
    </body>

    <!-- Import Jquery -->
    <script src="/lib/jquery.min.js"></script>

    <!-- Import Main Script -->
    <script src="/js/select-user.js"></script>
</html>