:root{
    --margin: clamp(2rem, 5vw, 8rem);
    --menu-height: 5rem;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sen, sans-serif;
    user-select: none;
    border: none;
}

body{
    background: rgb(33, 33, 33);
    background-attachment: fixed;
    overflow-y: auto;
    overflow-x: hidden;
}
