#cast-container{
    width: 100%;
    padding: 1rem var(--margin);
    margin-left: calc(-1 * var(--margin));
    overflow: auto;
    overflow: overlay;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

#cast-container::-webkit-scrollbar{
    display: none;
}

.person-image{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-image: url(/img/missing-profile.png);
    margin-bottom: 1rem;
    transition: all 200ms ease;
}

.person-image:hover{
    scale: 1.15;
}

.person-name, .person-role{
    color: white;
    font-size: 1rem;
    width: 8rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.person-role{
    color: rgb(184, 184, 184);
    font-size: .8rem;
}