#main-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#main-cont > * {
    max-width: 60rem;
    width: calc(100% - (var(--margin) * 2));
}

#header-title{
    text-align: center;
    margin-top: 3rem;
    font-size: 3rem;
    color: white;
}

#controls{
    display: flex;
    justify-content: stretch;
    gap: .5rem;
}

#controls button{
    border-radius: .7rem;
    flex: 1;
    height: 4rem;
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 1.3rem;
}

#updates{
    height: 3rem;
    color: white;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

#progress{
    height: 1.2rem;
    border-radius: .8rem;
    background-color: rgba(128, 128, 128, 0.453);
    overflow: hidden;
}

#progress-fill{
    height: inherit;
    width: 0;
    background-color: rgb(0, 106, 255);
    transition: width 150ms;
}