#media-resume{
    --height: 35vw; 
    margin-top: .6rem;
    padding: 0 var(--margin);
    display: flex;
    gap: 2rem;
    overflow: hidden;
}

.media-resume-item{
    flex-shrink: 0;
    height: var(--height);
    width: 100%;
    overflow: hidden;
    border-radius: 1rem;
    scroll-snap-align: center;
}

.media-resume-backdrop{
    height: var(--height);
    width: 90%;
    margin-left: 10%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.media-resume-overlay{
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, black 10%, transparent);
}

.no-space{
    height: 0; 
    width: 100%; 
    overflow: visible;
}

.media-resume-progress{
    position: relative;
    left: 0;
    top: calc(var(--height) - .7rem);
    width: 0%;
    height: .7rem;
    background-color: rgb(255, 0, 98);
}

.media-resume-overlay-section{
    height: 100%;
    flex: 1;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: clamp(.3rem, 2vw, 1rem);
}

.media-logo{
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: contain;

    height: 30%;
    width: calc(100% - 6rem);
    margin: 0 3rem;
}

.media-info{
    display: flex;
    margin-left: 3rem;
    align-items: center;
    max-width: 100%;
    gap: .5rem;
}

.media-info-episode{
    color: white;
    margin: 0 3rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: inherit;
    height: clamp(.5rem, 3vw, 1.5rem);
    font-size: clamp(.5rem, 3vw, 1.5rem);
    padding-bottom: clamp(1rem, 5vw, 4rem);
}

.media-info-col{
    background-color: black;
    border: .1rem solid white;
    border-radius: .2rem;
    padding: .3rem;
    color: white;
    font-size: 1.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.media-resume-nav{
    position: absolute;
    top: calc(var(--menu-height) + .6rem);
    height: 35vw;
    background-color: transparent;
}

.media-resume-nav.left{
    left: 0;
    padding-left: var(--margin);
}

.media-resume-nav.right{
    right: 0;
    padding-right: var(--margin);
}

.nav-visible{
    width: clamp(6rem, 8vw, 10rem);
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    transition: opacity 400ms;
}

.media-resume-nav:hover .nav-visible{
    opacity: 1;
}

.nav-visible.left{
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 1rem 0 0 1rem;
}
.nav-visible.right{
    border-radius: 0 1rem 1rem 0;
}

.nav-visible button{
    flex-shrink: 0;
    height: clamp(2rem, 10vw, 6rem);
    width: clamp(2rem, 10vw, 6rem);
    border-radius: 50%;
    background-color: rgb(67, 67, 67);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    transition: scale 200ms;
}

.nav-visible button:hover{
    scale: 1.1;
}

.nav-visible button.left{
    background-image: url(/img/icons/arrowLeft.png);
}

.nav-visible button.right{
    background-image: url(/img/icons/arrowRight.png);
}