.media-content{
    margin: 2rem auto 0 auto;
}

.container-header{
    padding: 0 var(--margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-nav button{
    height: 2rem;
    width: 2rem;
    background-color: rgba(255, 255, 255, 0.263);
    border-radius: 50%;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    transition: scale 200ms;
}

.container-nav button:hover{
    scale: 1.15
}

.container-nav button:first-child{
    background-image: url(/img/icons/arrowLeft.png);
}

.container-nav button:last-child{
    background-image: url(/img/icons/arrowRight.png);
}

.container-title{
    color: white;
    font-size: 1.2rem;
}

.media-container{
    display: flex;
    gap: clamp(.5vw, 1rem, var(--margin));
    overflow: auto;
    padding: 1rem var(--margin);
}

.media-item{
    color: white;   
    width: 9.5rem;
    cursor: pointer;
    transition: all 200ms ease;
}


.media-item:hover{
    scale: 1.08;
}

.media-poster{
    width: 9.5rem;
    height: 14.5rem;
    border-radius: .4rem;
    background-color: rgb(60, 60, 60);
    margin-bottom: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.media-title, .media-year{
    font-size: 1rem;
    max-width: 98%;
    margin-left: 1%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.media-overlay{
    height: calc(100% - .3rem);
    width: calc(100% - .3rem);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: .4rem;
    opacity: 0;
    transition: all 500ms ease;
}

.media-item:hover .media-overlay{
    opacity: 1;
}

.media-overlay-button{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 2.4rem;
    width: 2.4rem;
    box-sizing: border-box;
    background-color: black;
    border: .16rem solid white;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    transition: all 300ms ease;
}

.media-overlay-button > img{
    pointer-events: none;
    object-fit: contain;
    object-position: center;
    height: 60%;
    width: 60%;
    transition: all 300ms;
}

.media-overlay-button:hover{
    scale: 1.16;
    background-color: white;
}

.media-overlay-button:hover > img{
    filter: invert(100%);
}