#menu{
    position: sticky;
    top: 0;
    left: 0;
    
    width: 100%;
    height: var(--menu-height);
    box-sizing: border-box;
    padding: 0 var(--margin);
    
    padding-bottom: .1rem;


    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

body:has(#overview) #menu:not(.stick){
    background: linear-gradient(rgba(0, 0, 0, 0.7), transparent);
}

#menu.stick{
    background: black;
    padding-bottom: 0;
    border-bottom: .1rem solid rgb(40, 40, 40);
}

.menu-section{
    display: flex;
    height: 100%;
    align-items: center;
}

.menu-section a{
    height: inherit;
    display: flex;
    align-items: center;
    font-size: clamp(1.1rem, 1.3vw, 1.9rem);
    text-transform: capitalize;
    color: white;
    padding-right: 1rem;
    transition: opacity 400ms;
}

.menu-section:has(a:hover) a:not(:hover){
    opacity: 0.3;
}

#user-icon{
    height: 3.5rem;
    width: 3.5rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: aqua;
    border-radius: 50%;
}