body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.row{
    display: flex;
    width: 40rem;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
    gap: 1rem;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
}

.column-row{
    display: flex;
    flex: 1;
    gap: 1rem;
}

#profile-image{
    flex-shrink: 0;
    background-color: grey;
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    transition: scale 300ms;
}

#profile-image-overlay{
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.397);
    background-image: url(/img/icons/edit.png);
    background-position: center;
    background-size: 20%;
    background-repeat: no-repeat;
    flex: 1;
    transition: opacity 300ms;
}

#profile-image-overlay:hover{
    opacity: 1;
}

#profile-image:has(#profile-image-overlay:hover){
    scale: 1.1;
}

#name{
    padding: 1rem;
    font-size: 2rem;
    flex: 1;
    border-radius: .2rem;
    transition: scale 300ms;
}

#name:focus{
    scale: 1.03;
    outline: none;
}

button{
    flex: 1;
    background-color: white;
    height: 3.5rem;
    font-size: 1.3rem;
    border-radius: .2rem;
    transition: scale 300ms;
}

button:hover, button:focus{
    scale: 1.06;
}

#images{
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 40rem;
    height: 20rem;
    background-color: rgb(68, 68, 68);
    padding: 1rem;
    overflow: auto;
}

#images.show{
    display: flex;
}

#images .image{
    flex-shrink: 0;
    border-radius: 50%;
    height: 7.5rem;
    width: 7.5rem;
    background-color: red;
    background-position: center;
    background-size: cover;
}

#images input{
    display: none;
}

.image:has(input:checked){
    display: none;
}

@media (height < 40rem){
    
}