<div id="cast-container">
    <% for(const person of cast){ %>
        <div class="person-insert">
            <div class="person-image" 
                <% if(person.image != null){ %>
                    style="background-image: url('<%= person.image %>');"
                <% } else{ %>
                    style="background-image: url('/img/missing-profile.png');"
                <% } %>
            >
            </div>
            <div class="person-name">
                <%= person.name %>
            </div>
            <div class="person-role">
                <%= person.character %>
            </div>
        </div>
    <% } %>
</div>