<% for(const item of data){ %>
    <a class="media-item" data-media_id="<%= item.media_id %>">
        <div class="media-poster" style="background-image: url('<%= item.poster %>')">
            <div class="media-overlay">
                <div class="media-overlay-button watchlist-add">
                    <img src="/img/icons/plus.png" alt="+">
                </div>
                <div
                    <% if(item.in_watchlist == 1){ %>
                        class="media-overlay-button watchlist-rem show"
                    <% } else { %> 
                    class="media-overlay-button watchlist-rem"
                    <% } %>

                >
                    <img src="/img/icons/checkmark.png" alt="+">
                </div>
                <div class="media-overlay-button play">
                    <img src="/img/icons/play.png" alt=">">
                </div>
            </div>
        </div>
        <div class="media-title"><%= item.title %></div>
        <div class="media-year"><%= item.year %></div>
    </a>
<% } %>
