<% if(data.length > 0 || forceShow){ %>
    <div class="media-content">
        <div class="container-header">
            <div class="container-title"><%= title %></div>
            <div class="container-nav">
                <button class="nav left"></button>
                <button class="nav right"></button>
            </div>
        </div> 
        <div class="media-container">
            <%- include('media-items', {data}) %>
        </div>
    </div>
<% } %> 