<div id="menu">
    <div class="menu-section">
        <a href="/home">Home</a>
        <a href="/search">Search</a>
        <a href="/media/manager">Media</a>
    </div>
    <div class="menu-section"></div>
    <div class="menu-section">
        <div id="user-icon" style="background-image: url('<%= user.user_image %>');"></div>
    </div>
</div>