<div id="menu">
    <div class="menu-section">
        <a href="/home">Home</a>
        <a href="/search">Search</a>
        <a href="/media/manager">Media</a>
    </div>
    <div class="menu-section"></div>
    <div class="menu-section">
        <button 
            id="user-icon" 
            onclick="document.getElementById('user-dropdown-menu').classList.toggle('show')"
            style="background-image: url('<%= user.user_image %>');"
        ></button>
    </div>
</div>
<div id="user-dropdown-menu">
    <a href="/user">Change User</a>
    <a href="">User Settings</a>
    <a href="/user/log/out">Log Out</a>
</div>