.container {
  flex: 1;
  padding: 0 var(--marginHorizontal) 5rem var(--marginHorizontal);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.sectionsBar {
  display: flex;
  gap: .5rem;
  overflow: auto;
  flex-wrap: wrap;
}

.sectionsBar > button {
  font-size: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.386);
  padding: .5rem;
  background: transparent;
  border-radius: .3rem;
  color: white;
  transition: background 200ms, opacity 300ms;
}

.sectionsBar > button:hover {
  background: rgba(255, 255, 255, .1);
}