.container {
    color: white;
    width: 100%;
    overflow: hidden;
    margin-bottom: 1rem;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .3rem;
}

.topTitle {
    text-transform: capitalize;
}

.buttons {
    display: flex;
    gap: .2rem;
}

.button {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(162, 160, 160, 0.321);
    border: none;
    backdrop-filter: blur(1.4rem);
}

.items {
    display: flex;
    overflow: auto;
    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    scroll-behavior: smooth; /* Enable smooth scrolling behavior */
    transition: scroll-left 0.1s ease-in-out; /* Add a transition property */
}

.item {
    flex-shrink: 0;
    overflow: hidden;
    padding-bottom: .5rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.items::-webkit-scrollbar {
    display: none;
}

.image {
    object-fit: cover;
    object-position: 0% 20%;
    background-color: grey;
    width: 100%;
    border-radius: 50%;
    color: lightgray;
}

.name, .character {
    padding: 0 10%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
}

.character {
    font-weight: lighter;
}