.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 var(--marginHorizontal);
    gap: .7rem;
    user-select: none;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topTitle {
    text-transform: capitalize;
    color: white;
}

.items {
    --itemsGap: 1rem;
    --itemsOnPage: 9;
    --width: calc((100% - (var(--itemsGap) * (var(--itemsOnPage) - 1))) / var(--itemsOnPage));
    --height: calc((100vw - (2*var(--marginHorizontal)) - (var(--itemsGap) * (var(--itemsOnPage) - 1))) / var(--itemsOnPage));

    --start: 2;
    --inc: 2;

    display: flex;
    overflow: auto;
    gap: var(--itemsGap);
    
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.items::-webkit-scrollbar {
    display: none;
}

.item {
    width: var(--width);
    flex-shrink: 0;
    scroll-snap-align: start;
    cursor: pointer;
    transition: opacity 300ms;
}

.items:has(.item:hover) > .item:not(:hover)
{
    opacity: 0.5;
}

.image {
    object-fit: cover;
    object-position: 0% 20%;
    background-color: grey;
    border-radius: 50%;
    
    width: 100%;
    height: var(--height);
    
    color: lightgray;
}

.name, .character {
    padding: 0 10%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
    font-size: 1rem;
}

.character {
    font-weight: normal;
    color: gray;
}

@media (width >= 4000px)
{
    .items
    {
        --itemsOnPage: calc(var(--start) + (8 * var(--inc)));;
    }
}

@media (width < 4000px)
{
    .items
    {
        --itemsOnPage: calc(var(--start) + (7 * var(--inc)));;
    }
}

@media (width < 3500px)
{
    .items
    {
        --itemsOnPage: calc(var(--start) + (6 * var(--inc)));;
    }
}

@media (width < 3000px)
{
    .items
    {
        --itemsOnPage: calc(var(--start) + (5 * var(--inc)));;
    }
}

@media (width < 2500px)
{
    .items
    {
        --itemsOnPage: calc(var(--start) + (4 * var(--inc)));;
    }
}

@media (width < 2000px)
{
    .items
    {
        --itemsOnPage: calc(var(--start) + (3 * var(--inc)));;
    }
}

@media (width < 1500px)
{
    .items
    {
        --itemsOnPage: calc(var(--start) + (2 * var(--inc)));;
    }
}

@media (width < 1000px)
{
    .items
    {
        --itemsOnPage: calc(var(--start) + (1 * var(--inc)));;
    }
}

@media (width < 500px)
{
    .items
    {
        --itemsOnPage: var(--start);
    }
}