.container {
    margin-top: calc(-1*var(--menuHeight));
    padding-top: var(--menuHeight);
    background-position: center;
    background-size: cover;
    opacity: 0;
    flex-shrink: 0;
    transition: opacity 600ms;
    height: max(36vw, 35rem);
    
    display: flex;
}

.backdropOverlay {
    margin-top: calc(-1*var(--menuHeight));
    padding: 0 var(--marginHorizontal);
    
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: .2rem;

    background: linear-gradient(transparent 50%, black), linear-gradient(-90deg,transparent 30%, black), linear-gradient(rgba(0, 0, 0, 0.6), transparent calc(var(--menuHeight) + 5rem));
}

.backdropOverlay > * {
    flex-shrink: 0;
}

.logo {
    height: 10rem;
    width: min(35rem, 80%);
    margin-bottom: 2rem;
    object-fit: contain;
    object-position: left bottom;
}

.title {
    color: white;
}

.episodeTitle {
    color: white;
}

.title, .episodeTitle {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.buttonsBar {
    display: flex;
    gap: .5rem;
    width: 100%;
}

.buttonsBar > button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
}

.playButton {
    font-size: 1.3rem;
    padding: 0 2rem;
    border-radius: .5rem;
}

.watchlistButton {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    font-size: 2rem;
}

.navigateBar {
    display: flex;
    gap: .5rem;
    justify-content: right;
    padding-bottom: 1.5rem;
}

.navigateButton {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: rgba(133, 133, 133, 0.662);
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: background-color 500ms, color 700ms;
}

.navigateButton:hover {
    background-color: white;
    color: black;
}

.progressBar {
    height: .5rem;
    width: min(100%, 15rem);
    border-radius: .5rem;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.144);
}

.progressFill {
    height: 100%;
    background-color: orange;
}