.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;
    padding: 1rem 0;
    gap: 2rem;
}

.section {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border: solid rgba(255, 255, 255, 0.4) 2px;
    border-radius: 1rem;
    padding: 1rem;
}

.section > h2 {
    color: white;
}

.container > * {
    width: calc(100% - (var(--marginHorizontal) * 2));
}

.action {
    color: white;
    text-align: center;
}

.buttonRow {
    display: flex;
    justify-content: center;
    gap: .2rem;
}

.buttonRow button {
    background-color: white;
    padding: 1rem;
    flex: 1;
    border-radius: .4rem;
}

.ghost {
    pointer-events: none;
    opacity: 0.5;
}

.progressBar {
    height: 1rem;
    background-color: grey;
    border-radius: 1rem;
    overflow: hidden;
}

.progressBarFill {
    background-color: red;
    height: 100%;
    width: 0%;
    transition: width 800ms;
}
.torrents {
    display: flex;
    flex-direction: column;
}
.torrents > div {
    color: white;
    display: flex;
    flex-direction: column;
}
.torrentProgress {
    height: .5rem;
    background-color: lightblue;
    border-radius: .5rem;
}