@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow/Barlow-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow/Barlow-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow/Barlow-Light.ttf") format("truetype");
  font-weight: lighter;
}

:root {
  --marginHorizontal: clamp(2rem, 5vw, 10rem);
  --menuHeight: 5rem;
}

button {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Barlow;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  overflow: auto;
  background: black;
  background-image: radial-gradient(rgb(36, 36, 52), rgb(29, 29, 29));
  background-attachment: fixed;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
