.container 
{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 0 var(--marginHorizontal);
}

.top 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
}

.title
{
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
    text-transform: capitalize;
}

.items 
{
    --itemsOnPage: 5;
    --itemHeight: calc(((100vw - (var(--itemsGap) * (var(--itemsOnPage) - 1))) / var(--itemsOnPage)) * 0.5);
    --itemsGap: .5rem;

    --start: 2;
    --inc: 1;

    display: flex;
    overflow: auto;
    gap: var(--itemsGap);
    scroll-snap-type: x proximity;
    scroll-behavior: smooth;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.items::-webkit-scrollbar 
{
    display: none;
}

.item 
{
    background-size: cover;
    background-position: center;
    
    display: flex;
    flex-shrink: 0;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    
    width: calc((100% - (var(--itemsGap) * (var(--itemsOnPage) - 1))) / var(--itemsOnPage));
    
    scroll-snap-align: start;
    
    cursor: pointer;
    transition: opacity 400ms;
}

.itemImage
{
    --borderWidth: 2px;
    background: linear-gradient(120deg, blue, purple);
    border-radius: calc(var(--itemHeight) * 0.02);
    overflow: hidden;
    width: calc(100% - (2*var(--borderWidth)));
    height: calc(var(--itemHeight) - (2*var(--borderWidth)));
    border: solid rgb(44, 44, 44) var(--borderWidth);
    transition: border-color 400ms;
}

.item:hover > .itemImage
{
    border-color: rgb(85, 85, 85);
}

.itemTitle
{
    max-width: 70%;
    font-size: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: normal;
    color: white;
}


.items:has(.item:hover) .item:not(:hover) 
{
    opacity: 0.5;
}

@media (width >= 4000px)
{
    .items
    {
        --itemsOnPage: calc(var(--start) + (8 * var(--inc)));;
    }
}

@media (width < 4000px)
{
    .items
    {
        --itemsOnPage: calc(var(--start) + (7 * var(--inc)));;
    }
}

@media (width < 3500px)
{
    .items
    {
        --itemsOnPage: calc(var(--start) + (6 * var(--inc)));;
    }
}

@media (width < 3000px)
{
    .items
    {
        --itemsOnPage: calc(var(--start) + (5 * var(--inc)));;
    }
}

@media (width < 2500px)
{
    .items
    {
        --itemsOnPage: calc(var(--start) + (4 * var(--inc)));;
    }
}

@media (width < 2000px)
{
    .items
    {
        --itemsOnPage: calc(var(--start) + (3 * var(--inc)));;
    }
}

@media (width < 1500px)
{
    .items
    {
        --itemsOnPage: calc(var(--start) + (2 * var(--inc)));;
    }
}

@media (width < 1000px)
{
    .items
    {
        --itemsOnPage: calc(var(--start) + (1 * var(--inc)));;
    }
}

@media (width < 700px)
{
    .items
    {
        --itemsOnPage: var(--start);
    }
}

@media (width < 300px)
{
    .items
    {
        --itemsOnPage: 1;
    }
}