.container 
{
    --itemsOnPage: 5;
    --itemHeight: 10.5vw;
    --itemsGap: .6rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.top 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
}

.title
{
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
    text-transform: capitalize;
}

.buttons
{
    display: flex;
    gap: 1rem;
}

.buttons > button
{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: solid rgb(127, 127, 127) 2px;
    transition: background 200ms;
}

.buttons > button:hover 
{
    background: rgba(255, 255, 255, 0.25)
}

.buttons > button:active
{
    background: rgba(255, 255, 255, 0.35)
}

.items 
{
    display: flex;
    overflow: auto;
    gap: var(--itemsGap);
    scroll-snap-type: x proximity;
    scroll-behavior: smooth;
}

.items::-webkit-scrollbar 
{
    display: none;
}

.item 
{
    background-position: center;
    background-size: cover;
    transition: opacity 400ms;
    cursor: pointer;
    flex-direction: column;
    scroll-snap-align: start;
    width: calc((100% - (var(--itemsGap) * (var(--itemsOnPage) - 1))) / var(--itemsOnPage));
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.itemImage
{
    --borderWidth: 2px;
    background: linear-gradient(120deg, blue, purple);
    border-radius: calc(var(--itemHeight) * 0.01);
    overflow: hidden;
    width: calc(100% - (2*var(--borderWidth)));
    height: calc(var(--itemHeight) - (2*var(--borderWidth)));
    border: solid rgb(44, 44, 44) var(--borderWidth);
    transition: border-color 400ms;
}

.item:hover > .itemImage
{
    border-color: rgb(85, 85, 85);
}

.itemTitle
{
    max-width: 70%;
    font-size: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: lighter;
    color: white;
}


.items:has(.item:hover) .item:not(:hover) 
{
    opacity: 0.5;
}

@media (width < 1300px)
{
    .container
    {
        --itemsOnPage: 4;
        --itemHeight: 12vw;
    }
}

@media (width < 1000px)
{
    .container
    {
        --itemsOnPage: 3;
        --itemHeight: 17.5vw;
    }
}

@media (width < 700px)
{
    .container
    {
        --itemsOnPage: 2;
        --itemHeight: 25vw;
    }
}