.container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items {
    display: grid;
    overflow: hidden;
}

.items::-webkit-scrollbar {
    display: none;
}

.item {
    background: linear-gradient(120deg, blue, purple);
    flex-shrink: 0;
    border-radius: .3rem;
    background-position: center;
    background-size: cover;
    transition: opacity 300ms;
    cursor: pointer;
    display: flex;
    overflow: hidden;
}

.itemOverlay {
    display: flex;
    padding: .5rem;
    background: radial-gradient(black, transparent);
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.items:has(.item:hover) > .item:not(:hover) {
    opacity: 0.5;
}

.button {
    font-size: 1rem;
    background: none;
    border: none;
    color: white;
}

.button:hover {
    text-decoration: underline;
}