:root{
    --margin: 3vw
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sen, sans-serif;
    user-select: none;
    border: none;
}

body, html{
    background: rgb(27, 27, 27);
    overflow-y: auto;
    overflow-x: hidden;
}
